
AppointmentBot/bin/Debug/net5.0/AppointmentBot.deps.json
AppointmentBot/bin/Debug/net5.0/AppointmentBot.dll
*.pdb
*.dll
AppointmentBot/obj/AppointmentBot.csproj.nuget.dgspec.json
*.props
*.targets
AppointmentBot/obj/Debug/net5.0/AppointmentBot.AssemblyInfo.cs
*.cache
AppointmentBot/obj/OrderBot.csproj.nuget.dgspec.json
AppointmentBot/obj/project.assets.json
AppointmentClass/bin/Debug/net5.0/AppointmentClass.deps.json
AppointmentClass/bin/Debug/net5.0/AppointmentClass.runtimeconfig.dev.json
AppointmentClass/bin/Debug/net5.0/AppointmentClass.runtimeconfig.json
AppointmentClass/obj/AppointmentClass.csproj.nuget.dgspec.json
AppointmentClass/obj/OrderBotPage.csproj.nuget.dgspec.json
AppointmentClass/obj/Debug/net5.0/OrderBotPage.GeneratedMSBuildEditorConfig.editorconfig
AppointmentClass/obj/Debug/net5.0/OrderBotPage.csproj.FileListAbsolute.txt
